html, body {
    font-family: "Calibri";
    background-color: rgb(53, 53, 53);
    margin: 0;
}

a.header_link:link, a.header_link:visited {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
    vertical-align: baseline;
    display: inline-block;
}

#header_img {
    height: 40px;
    display: inline-block;
    vertical-align: baseline;
}

.main_header {
    padding: 10px;
    text-align: left;
    background: rgb(31, 31, 31);
    color: white;
    font-size: 30px;
}

.team_select_menu, .team_stats {
    display: inline-block;
    vertical-align: text-top;
}

div.main {
    margin: 0px auto;
    position: relative;
    top: 10px;
    width: 50%;
}

.selection {
    background-color: rgb(73, 73, 73);
    height: 25px;
    padding: 2px;
}

.color_indicator {
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    width: auto;
    
    margin-bottom: 1px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 18px;
    display: inline-block;
  }

.btn_team_select {
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    width: 70px;
    margin-bottom: 1px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
  }

  .btn_team_select:hover {
    background-color: rgb(61, 61, 61);
  }