html, body {
    font-family: "Calibri";
    background-color: rgb(20, 20, 20);
    margin: 0;
}

.header_link, #header_txt_link:link, #header_txt_link:visited {
    color: white;
    padding: 5px 0px;
    text-decoration: none;
    display: inline-block;
}

.header_link_img {
    color: white;
    display: inline-block;
    vertical-align: bottom;
}

#header_img {
    width: 40px;
    display: inline-block;
}

.main_header {
    padding: 5px 0px;
    position: sticky;
    text-align: left;
    background: rgb(30, 30, 30);
    color: white;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.team_select_menu, .team_stats {
    display: inline-block;
    vertical-align: text-top;
    height: max-content;
}

.no_stats_alert {
    width: 400px;
}

.main {
    margin: 0px auto;
    padding-right: 3px;
    position: relative;
    top: 10px;
    width: max-content;
    background-color: rgb(100, 100, 100);
}

.selection {
    background-color: rgb(61, 61, 61);
    height: 25px;
    padding: 1px;
}

.color_indicator {
    font-size: 18px;
    display: inline-block;
}

.btn_team_select, .btn_team_select_btn {
    background-color: rgb(61, 61, 61);
    border: none;
    color: white;
    text-align: left;
    font-size: 18px;
    width: 75px;
    display: inline-block;
}

.btn_team_select_btn {
    cursor: pointer;
}

.btn_team_select_btn:hover {
    background-color: rgb(73, 73, 73);
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 400px;
}
  
table, th, td {
    border-bottom: 1px solid black;
    padding: 2px;
}

th {
    text-align: left;
}