<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>Teplota</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="style.css" type="text/css" >

    <!-- Scripts -->
    <script type="text/javascript">
        var xmlhttp = new XMLHttpRequest();
        var url = "data.json";
        var ws;
        var all_data = [];
    </script>

    <script src="my_script.js" type="text/javascript"></script>
</head>
<body onload="on_loaded()">
    <button id="btn_check" onclick="sendToServer()">
        Zadat
    </button>

    <div id="main_frame">
        Teploty
    </div>

    <div id="text_frame">
        &nbsp;
    </div>

</body>
</html>