<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>Teplotní ústředna</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="style.css" type="text/css" >

    <!-- Scripts -->
    <script type="text/javascript">
        var ws;
        var tableCreated = false;
        var jsonData = {
            "black": null,
            "blue": null,
            "green": null,
            "orange": null,
            "pink": null,
            "red": null,
            "yellow": null
        };

        var teams = {
            black: "black",
            blue: "blue",
            green: "green",
            orange: "orange",
            pink: "pink",
            red: "red",
            yellow: "yellow"
        };

        var valueIndexes = {
            curTemp: "posledni",
            avgTemp: "prumerna",
            minTemp: "minimalni",
            maxTemp: "maximalni",
            time: "cas"
        };

        var headers = {
            curTemp: "Aktuální teplota",
            avgTemp: "Průměrná teplota",
            minTemp: "Minimální teplota",
            maxTemp: "Maximální teplota",
            time: "Poslední aktualizace"
        };

        var selectedTeam = teams.black;
        var lastSelectedTeam = selectedTeam;
        var teamStatusIndicators = {
            offline: "○",
            online: "•"
        }
    </script>

    <script src="my_script.js" type="text/javascript"></script>
</head>
<body onload="on_loaded()">
    <div class="main_header">
        <div class="header_link">
            <a id="header_img_link" href=""><img src="thermometer.png" id="header_img"></a>
        </div>
        <div class="header_link">
            <a id="header_txt_link" id="header_txt_link" href="">Teplotní ústředna</a>
        </div>
    </div>
    <div class="main">
        <div class="team_select_menu" id="team_select_menu">
        </div>
        <div class="team_stats" id="team_stats">
            <div class="no_stats_alert" id="no_stats_alert">
            </div>
            <div class="stat_table" id="stat_table">
            </div>
        </div>
    </div>
</body>
</html>